$btnColor: #3b813b;

.btn {
  cursor: pointer;
  min-width: 120px;
  height: 54px;
  font-size: 24px;
  color: white;
  background-color: $btnColor;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  padding: 4px 10px;

  &:hover {
    background-color: darken($btnColor, 10);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8d8d;
  }
}
