.turnWrapper {
  text-align: center;
}

.history {
  color: white;
}

.list {
  padding: 0;
  font-size: 16px;
}

.listItem {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  > div {
    padding-left: 4px;
  }
}

.hit {
  color: green;
}

.miss {
  color: red;
}

.myTurn {
  background-color: #696900;
}

.name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
