.game {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingTitle {
  color: white;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
